.char1{
    width:100%; 
    height:100%;
  }
  .innerdiv1{
    height: 15%;
    padding: 8px 0px;
    margin: 0% 1%;
}

.chartmargin{
    margin: 4% 0%;
}

.topcontainer{
  border: 2px solid gray;
  text-align: center;
  height: 99%;
  flex-direction: column;
   display: flex;
}