<h1 class="aline">inputoutput Example</h1>

<div class="rowFlex">
    <div style="padding:0% 5%;">
    <h1 class="aline">Send value to child</h1>
    <div *ngFor="let control of queations">
        <app-reusableForms [form]="inputform" [controls]="control"></app-reusableForms>
    </div>
    <div>
        <button mat-raised-button (click)="send()">Send To Child</button>
    </div>
</div>
<div style="padding:0% 5%;">
    <h1 class="aline">Output value from Child</h1>
    <h2>{{valuefromchild}}</h2>
</div>
</div>

<div>
    <app-child [valuefromparent]="valueforchild" (valueforparent)="getfromchild($event)"></app-child>
</div>