.example-container {
  width: 98vw;
  height: 85vh;
  margin: 10px;
  border: 1px solid #555;
}

mat-drawer{
    padding: 10px;
    background-color: purple;
}

mat-drawer-content{
    padding: 10px;
    background-color: black;
}