<!-- <div class="maincontainer">
    <h1 class="header">User Management</h1>
    <div class="maindiv" style="flex-direction: row;display: flex;">
        <div class="width">
            <app-usercharts></app-usercharts>
        </div>
        <div class="user" style="flex-direction: column;display: flex;">
            <div class="height1">
                <app-adduser></app-adduser>
            </div>
            <div class="height2">
                <app-allusers></app-allusers>
            </div>
        </div>
    </div>
</div> -->
<h1>App Work</h1>
<!-- <button (click)="sendEditorContentAsTxt()">ADD</button> -->
 <input type="file" (change)="onFileSelected($event)" />




