.maincontainer{
    background-color: rgb(138, 175, 229);
    height: 100vh;
    margin-top: 0%;
}

.header{
    text-align: center;
    margin-bottom: 1%;
    margin-top: 2%;
}

.maindiv{
    margin: 0% 2%;
    background-color: white;
    height: 90vh;

}
.user{
    height: 100%;
    width: 100%;
    margin: 1%;
}

.width{
    width: 30%;
}

.height1{
    height: 30%;
}

.height2{
    height: 67%;
}


