
<div class="topcontainer">
    <div *ngFor="let i of users; let in=index">
        <div class="maincontainer">
            <mat-card class="card">
                <div style="display: flex;">
                    <div class="itommargin1">{{i.name}}</div>
                    <div class="itommargin2">{{i.email}}</div>
                    <div class="itommargin3">{{i.contact}}</div>
                    <div class="itommargin4">{{i.address}}</div>
                    <div class="itommargin5">
                        <span class="material-symbols-outlined" (click)="openDialog(i,in)">edit</span>
                    </div>
                    <div class="itommargin5">
                        <span class="material-symbols-outlined" (click)="delete(in)">delete</span>
                    </div>
                </div>
             </mat-card>
        </div>
    </div>
</div>
