.maincontainer{
    width: 96%;
    margin: 1% 2%;
}

.topcontainer{
    border: 2px solid gray;
    width: 100%;
    text-align: center;
    height: 100%;
}

.card{
    height: 10vh;
    padding: 2%;
    display: flex;
}

.actionbuttons{
    margin: 0% 1%;
}

.container {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;   
    
}

.fieldmargin{
    margin: -1% 1%;
}

.dialog{
    margin: 2%;
}

.itommargin1{
    margin: 0% 3%;
    cursor: pointer;
    width: 10%;
}

.itommargin2{
    margin: 0% 3%;
    cursor: pointer;
    width: 45%;
}

.itommargin3{
    margin: 0% 3%;
    cursor: pointer;
    width: 30%;
}

.itommargin4{
    margin: 0% 3%;
    cursor: pointer;
    width: 30%;
}

.itommargin5{
    margin: 0% 3%;
    cursor: pointer;
    width: 10%;
}

.itommargin{
    margin: 0% 3%;
    cursor: pointer;
}

.itommargin5{
    margin: 0% 3%;
    cursor: pointer;
    width: 10%;
}

.align{
    text-align: center;
}

.popupcontainer{
    border: 2px solid gray;
}